@charset "UTF-8";

div#tv-radio {
  width: 900px;
  height: 580px;
  margin: auto;
  background-image: url('../_imagens/radio-tv.png');
  background-image: no-repeat;
}

audio#musica {
  display: block;
  position: relative;
  left: 573px;
  top: 495px;
  width: 300px;
  height: 40px;
}

video#filme {
  display: block;
  position: relative;
  left: 90px;
  top: 85px;
  width: 440px;
}